@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply from-primary to-secondary text-white;
}
.primary-button {
  @apply bg-gradient-to-r gradient  border-none outline-none;
}
